/* style sheet */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
	width: 1200px;
	margin: 0 auto;
}

/* navigation section  */

.nav-bar {
    display: flex;
    flex: 1 0 auto;
    justify-content: center; 
    background-color: grey;
}

.nav-container {
	background-color: navajowhite;
	display: flex;
    flex: 1 0 auto;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.nav-title {
	display: flex;
	flex: .15 0 auto;
	color: royalblue;
	justify-content: left;
}

ul.nav-links {
	display: flex;
	flex: .7 0 auto;
	align-items: center;
}

li.nav-links {
	display: flex;
	margin-left: 20px;
	text-decoration: none;
	justify-content: flex-start;
}

a.nav-links {
	display: flex;
	color: royalblue;
	font-weight: bold;
	text-decoration: none;
}

.btn_nav-container {
	display: flex;
	flex: .15 0 auto;
	justify-content: flex-end; 
}

.btn_nav-login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: royalblue;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	width: 75px;
	height: 30px;
}

/* main content section  */

.main-container {
    background-color: seagreen;
}

/* left-main section  */

.left-main {
    background-color: purple;
}

.def-box1 {
    background-color: #fff;
}

.def-box2 {
    background: #fff;
}

/* right-main section  */

.right-main {
    background-color: purple;
}

.add-definition {
    background: #000;
}

.btn-addDef {
    background-color: purple;
}